:root {
  --prime-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: rgba(245, 244, 250, 1);
  --border-color: rgba(236, 236, 236, 1);
}
/*тип блочной модели*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--prime-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.page-header {
  border-bottom: 1px solid var(--border-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/*убирает точки в списке*/
.list {
  list-style: none;
  color: inherit;
}
/*убирает подчеркивание ссылок*/
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*шапка*/

/*логотип*/
.link-logo {
  color: black;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  max-width: 145px;
}
.logo {
  color: var(--accent-text-color);
}

/*ссылки активные*/
.link:hover,
.link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

/*навигационные ссылки*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .current {
  color: var(--accent-text-color);
}

/*контакты*/
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--prime-text-color);
}

/*герой*/
.hero {
  background-color: #2f303a;
  color: var(--secondary-text-color);
  outline: 2px solid red;
}
.hero-container {
  padding: auto;
  margin: 0 auto;
  width: 696px;
}
.hero-title {
  color: var(--secondary-text-color);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  min-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
}

/*кнопка*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  min-width: 200px;
  padding: 10px 30px;
}
.hero .button {
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
  cursor: pointer;
}

/*Раздел преимущества*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*скрытый заголовок*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin-bottom: 0;
}

.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*чем мы занимаемся*/
.no-padding {
  padding-top: 0;
}
/*наша команда*/
.section.team {
  background-color: var(--secondary-bg-color);
}
.team-item {
  display: inline-block;
  width: 270px;
}
.team-title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  min-width: 270px;
}
.team-list p {
  display: inline-block;
  padding-bottom: 30px;
  min-width: 270px;
}

/*подвал*/
footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .link-logo {
  color: var(--secondary-text-color);
}
.address {
  font-style: inherit;
  margin-top: 20px;
}
.address-link {
  color: var(--secondary-text-color);
}
.footer-link {
  color: var(--footer-text-color);
}

/*сss для портфолио*/
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.galery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
